<div style="font-size: 12px; color: #959da5; text-align: center">
  <p>
    Enviado por <a href="#" style="text-decoration: none; color: #005cc5;">
      MeusContatos.com
    </a>
  </p>
  <p>
    <a href="mailto:" style="text-decoration: none; color: #005cc5;">
      hello@meuscontatos.com
    </a> | © 2020
  </p>
</div>
